<div class="flex mt-20 mx-5">
  <div
    class="rounded-lg bg-blue-950 w-full sm:w-auto flex flex-col sm:flex-row justify-around items-center"
  >
    <div class="w-full sm:w-1/2 p-4 text-white">
      <h1 class="text-5xl font-bold mb-4">¡Bienvenido {{ name }}!</h1>
      <h1 class="text-2xl font-bold mb-4">
        ¡Toma el control de tu negocio con el tablero de Pañalera Parceritos
        Baby!
      </h1>
    </div>
    <div class="w-full sm:w-1/2 p-4">
      <img
        src="https://ggbralugqoodmaklkses.supabase.co/storage/v1/object/sign/public%20images/_8270241d-8181-45aa-acf2-4a04c4e58614.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJwdWJsaWMgaW1hZ2VzL184MjcwMjQxZC04MTgxLTQ1YWEtYWNmMi00YTA0YzRlNTg2MTQucG5nIiwiaWF0IjoxNzEzMDU2NjIyLCJleHAiOjIzNDQyMDg2MjJ9.lgLnlcwJ_9Q36IYMGITTXdjAC7r5gKKjQXsAFqB849Q&t=2024-04-14T01%3A03%3A41.351Z"
        class="w-64 h-auto mx-auto"
      />
    </div>
  </div>
</div>
