<div class="md:ml-64">
  @if (isLoaded) {
  <div
    class="fixed inset-0 bg-gray-200 dark:bg-gray-800 flex items-center justify-center"
  >
    <div
      role="status"
      class="absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2"
    >
      <svg
        aria-hidden="true"
        class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
        />
      </svg>
      <span class="text-center">Aguarda un momento...</span>
    </div>
  </div>
  } @else {
  <div class="flex items-center justify-between mt-5 mx-5">
    <button
      (click)="goBack()"
      class="flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-200 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-300 dark:focus:ring-gray-700 focus:ring-opacity-50 dark:focus:ring-opacity-50"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 me-2 text-gray-700 dark:text-gray-200"
        viewBox="0 0 24 24"
      >
        <path fill="#0284c7" d="m14 17l-5-5l5-5z" />
      </svg>
      Volver
    </button>
    <!-- edit button -->
  </div>
  <p class="mt-5 text-2xl mx-5 sm:text-center font-bold">Editar proveedor</p>

  <div class="mt-10 mx-5 md:ml-56 lg:ml-80 flex flex-col justify-center">
    <form [formGroup]="this.form" (ngSubmit)="submit()">
      <label for="nature" class="mt-5 text-xl"
        >Naturaleza <strong class="text-red-500">*</strong></label
      >
      <div class="flex flex-wrap mt-2">
        <div class="flex items-center me-4">
          <input
            formControlName="nature"
            id="nature"
            type="radio"
            value="Natural"
            name="nature"
            class="w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="nature"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Natural</label
          >
        </div>
        <div class="flex items-center me-4">
          <input
            formControlName="nature"
            id="nature"
            type="radio"
            value="Jurídica"
            name="nature"
            class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="nature"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Jurídica</label
          >
        </div>
        <div class="flex items-center me-4">
          <input
            formControlName="nature"
            id="nature"
            type="radio"
            value="Gran Contribuyente"
            name="nature"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="nature"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Gran Contribuyente</label
          >
        </div>
      </div>

      <div class="mt-10">
        <label for="taxregime" class="mt-5 text-xl"
          >Régimen de Impuestos <strong class="text-red-500">*</strong></label
        >
      </div>
      <div class="flex flex-wrap mt-4">
        <div class="flex items-center me-4">
          <input
            formControlName="taxregime"
            id="red-radio-tax"
            type="radio"
            value="Responsable de IVA"
            name="taxregime"
            class="w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="red-radio-tax"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Responsable de IVA</label
          >
        </div>
        <div class="flex items-center me-4">
          <input
            formControlName="taxregime"
            id="green-radio-tax"
            type="radio"
            value="No Responsable de IVA"
            name="taxregime"
            class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="green-radio-tax"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >No Responsable de IVA</label
          >
        </div>
      </div>
      <div class="mt-5 md:w-4/12">
        <label
          for="documenttype"
          class="mt-5 block text-sm font-medium text-gray-700 dark:text-gray-400"
          >Tipo de Documento<strong class="text-red-500">*</strong></label
        >
        <select
          formControlName="documenttype"
          id="documenttype"
          class="mt-2 w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
        >
          <option value="CC">Cédula de Ciudadanía</option>
          <option value="CE">Cédula de Extranjería</option>
          <option value="NIT">NIT</option>
          <option value="TI">Tarjeta de Identidad</option>
          <option value="PP">Pasaporte</option>
        </select>
      </div>
      <div class="mt-2 flex flex-col md:flex-row gap-x-10">
        <div class="flex flex-col md:w-3/12">
          <label
            for="document"
            class="mt-5 block text-sm font-medium text-gray-700 dark:text-gray-400"
            >Documento<strong class="text-red-500">*</strong></label
          >
          <input
            formControlName="document"
            id="document"
            type="text"
            class="mt-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
          />
        </div>
        <div class="flex flex-col">
          <label
            for="verificactionDigit"
            class="mt-5 block text-sm font-medium text-gray-700 dark:text-gray-400"
            >Dígito de Verificación</label
          >
          <input
            formControlName="verificationdigit"
            id="verificactionDigit"
            type="number"
            class="mt-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
          />
        </div>
      </div>
      <div class="mt-5 md:w-3/4">
        <label
          for="businessname"
          class="block text-sm font-medium text-gray-700 dark:text-gray-400"
          >Razón Social<strong class="text-red-500">*</strong></label
        >
        <input
          formControlName="businessname"
          id="businessname"
          type="text"
          class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
        />
      </div>
      <div class="flex flex-col md:flex-row md:w-3/4 gap-x-5">
        <div class="flex flex-col w-full">
          <label
            for="firstname"
            class="mt-5 block text-sm font-medium text-gray-700 dark:text-gray-400"
            >Nombre</label
          >
          <input
            formControlName="firstname"
            id="firstname"
            type="text"
            class="border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
          />
        </div>
        <div class="flex flex-col w-full">
          <label
            for="anotherName"
            class="mt-5 block text-sm font-medium text-gray-700 dark:text-gray-400"
            >Otro Nombres</label
          >
          <input
            formControlName="othernames"
            id="anothernames"
            type="text"
            class="border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
          />
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-x-5 md:w-3/4">
        <div class="flex flex-col w-full">
          <label
            for="lastname"
            class="mt-5 block text-sm font-medium text-gray-700 dark:text-gray-400"
            >Apellido</label
          >
          <input
            formControlName="lastname"
            id="lastname"
            type="text"
            class="border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
          />
        </div>
        <div class="flex flex-col w-full">
          <label
            for="secondlastname"
            class="mt-5 block text-sm font-medium text-gray-700 dark:text-gray-400"
            >Segundo Apellido</label
          >
          <input
            formControlName="secondlastname"
            id="secondlastname"
            type="text"
            class="border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
          />
        </div>
      </div>
      <div class="flex flex-col md:flex-row md:w-3/4 gap-x-5">
        <div class="flex flex-col w-full">
          <label
            for="Departamento"
            class="mt-5 block text-sm font-medium text-gray-700 dark:text-gray-400"
            >Departamento<strong class="text-red-500">*</strong></label
          >
          <select
            formControlName="department"
            id="department"
            class="mt-2 w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
          >
            <option selected class="">Selecione un departamento</option>
            @for (item of department; track $index) {
            <option [value]="item">{{ item }}</option>
            }
          </select>
        </div>
        <div class="flex flex-col w-full">
          <label
            for="city"
            class="mt-5 block text-sm font-medium text-gray-700 dark:text-gray-400"
            >Municipio<strong class="text-red-500">*</strong></label
          >
          <select
            formControlName="city"
            id="city"
            class="mt-2 w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
          >
            <option selected>Selecione un municipio</option>
            @for (item of cities; track $index) {
            <option value="{{ item }}">{{ item }}</option>
            }
          </select>
        </div>
      </div>
      <div class="flex flex-col md:flex-row md:w-4/5 gap-x-5">
        <div class="flex flex-col">
          <label
            for="address"
            class="mt-5 block text-sm font-medium text-gray-700 dark:text-gray-400"
            >Dirección<strong class="text-red-500">*</strong></label
          >
          <input
            formControlName="address"
            id="address"
            type="text"
            class="border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
          />
        </div>
        <div class="flex flex-col">
          <label
            for="neighborhood"
            class="mt-5 block text-sm font-medium text-gray-700 dark:text-gray-400"
            >Barrio</label
          >
          <input
            formControlName="neighborhood"
            id="neighborhood"
            type="text"
            class="border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
          />
        </div>
        <div class="flex flex-col">
          <label
            for="zone"
            class="mt-5 block text-sm font-medium text-gray-700 dark:text-gray-400"
            >Zona</label
          >
          <select
            formControlName="zone"
            id="zone"
            class="p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
          >
            <option value="Urbana">Urbana</option>
            <option value="Rural">Rural</option>
          </select>
        </div>
      </div>
      <div class="flex flex-col md:flex-row md:w-3/4 gap-x-5">
        <div class="flex flex-col w-full">
          <label
            for="phone"
            class="mt-5 block text-sm font-medium text-gray-700 dark:text-gray-400"
            >Teléfono</label
          >
          <input
            formControlName="phone"
            id="phone"
            type="text"
            class="border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
          />
          @if(this.form.controls.phone.invalid){
          <p class="text-red-500 text-sm font-semibold">¡Teléfono no válido!</p>
          }
        </div>
        <div class="flex flex-col w-full">
          <label
            for="email"
            class="mt-5 block text-sm font-medium text-gray-700 dark:text-gray-400"
            >Email</label
          >
          <input
            formControlName="email"
            id="email"
            type="email"
            class="border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
          />
          @if(this.form.controls.email.invalid){
          <p class="text-red-500 text-sm font-semibold">¡Correo no válido!</p>
          }
        </div>
      </div>
      <p class="mt-5 text-sm font-semibold text-red-500">* Campos Obligatorios</p>
      <div class="flex flex-row justify-between mt-10 md:w-3/4">
        <!--Button cancel-->
        <button
          (click)="goBack()"
          type="button"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ms-5"
        >
          Cancelar
        </button>
        <!--Button post provider-->
        <button
          (click)="submit()"
          class="bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
  } 
</div>

<p-toast />
