<app-navbar name={{name}}/>

@if(waitingToast){
<div
  id="toast-top-right"
  class="fixed flex items-center w-full max-w-xs p-4 space-x-4 rtl:divide-x-reverse top-5 right-5 space-x"
  role="alert"
>
  <div
    id="toast-success"
    class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
    role="alert"
  >
    <div
      class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200"
    >
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
        />
      </svg>
      <span class="sr-only">Check icon</span>
    </div>
    <div class="ms-3 text-lg font-bold text-better">{{ phrase }}</div>
  </div>
</div>
}

<div class="container mx-auto">
  <div class="flex flex-col justify-center items-center mt-0">
    <h1 class="text-center text-2xl md:text-7xl text-better ">
      ¡Bienvenidos a Parceritos Baby, {{ name }}!
    </h1>

    <div class="mt-10">
      <p class="text-base md:text-lx text-start md:text-center mx-5 md:mx-0 ">
        En Parceritos Baby, nos apasiona crear productos que brinden alegría y comodidad a los más pequeños. Este dashboard es su herramienta principal para:
      </p>

      <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 mx-5">
        <li class="bg-white shadow-md rounded-lg p-4">
          <h3 class="text-xl font-bold">Gestionar su catálogo</h3>
          <p class="text-gray-700">Administre sus productos, categorías, precios e imágenes con facilidad.</p>
        </li>
        <li class="bg-white shadow-md rounded-lg p-4">
          <h3 class="text-xl font-bold">Analizar sus ventas y rendimiento</h3>
          <p class="text-gray-700">Obtenga información valiosa sobre sus productos más vendidos, sus clientes y sus estrategias de marketing.</p>
        </li>
        <li class="bg-white shadow-md rounded-lg p-4">
          <h3 class="text-xl font-bold">Optimizar su inventario</h3>
          <p class="text-gray-700">Controle sus niveles de stock, automatice pedidos a proveedores y evite desabastecimiento.</p>
        </li>
        <li class="bg-white shadow-md rounded-lg p-4">
          <h3 class="text-xl font-bold">Conectar con sus clientes</h3>
          <p class="text-gray-700">Acceda a información de sus clientes, personalice sus comunicaciones y fortalezca la fidelidad.</p>
        </li>
        <li class="bg-white shadow-md rounded-lg p-4">
          <h3 class="text-xl font-bold">Tomar decisiones estratégicas</h3>
          <p class="text-gray-700">Utilice los datos y análisis para tomar decisiones informadas que impulsen el crecimiento de su negocio.</p>
        </li>
      </ul>

      <h3 class="text-2xl text-start mt-10">Acceso instantáneo a:</h3>

      <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 mx-5">
        <li class="bg-white shadow-md rounded-lg p-4">
          <h3 class="text-xl font-bold">Panel de control principal</h3>
          <p class="text-gray-700">Visualice métricas clave de rendimiento de un vistazo.</p>
        </li>
        <li class="bg-white shadow-md rounded-lg p-4">
          <h3 class="text-xl font-bold">Informes detallados</h3>
          <p class="text-gray-700">Profundice en sus datos para obtener información específica.</p>
        </li>
        <li class="bg-white shadow-md rounded-lg p-4">
          <h3 class="text-xl font-bold">Herramientas de gestión</h3>
          <p class="text-gray-700">Administre sus productos, pedidos, clientes y proveedores.</p>
        </li>
        <li class="bg-white shadow-md rounded-lg p-4">
          <h3 class="text-xl font-bold">Recursos útiles</h3>
          <p class="text-gray-700">Acceda a guías, tutoriales y soporte técnico.</p>
        </li>
      </ul>

      <p class="text-center mt-10">
        <strong>¿Necesita ayuda?</strong>
      </p>
      <p class="text-center text-gray-700">
        No dude en contactarnos. Nuestro equipo de soporte está listo para ayudarlo a aprovechar al máximo su dashboard.
      </p>
    </div>
  </div>
</div>

<app-footer/>