@layer reset, primeng;
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";



  body{
    font-family: "Poppins", sans-serif;
  }
  .text-better{
    font-family: 'Truculenta';
  }

  .color-better {
    color: #E74694;
  }
body{
    font-family: "Poppins", sans-serif;
}
