/* Additional Colors */

.bg-black {
    background-color: #000000;
  }
  
  .bg-brown {
    background-color: #8b4513;
  }
  
  .bg-green {
    background-color: #2bc016;
  }
  
  .bg-pink {
    background-color: #de4d86;
  }
  
  .bg-purple {
    background-color: #800080;
  }
  
  .bg-red {
    background-color: #ff0000;
  }
  
  .bg-white {
    background-color: #ffffff;
  }
  
  .bg-yellow {
    background-color: #f5b700;
  }
 
.bg-blue{
    background-color: #3a86ff;
}